



div{
    text-align: center;

    align-items: center;

    
}



.divclass h1{
    color: blue;
}

.divclass #spanid{
    font-size: 30px;
    color: red; color: black;
    margin: 10px;

}


#thirddiv {
    
    height: 600px;
    width: 450px;
    background-color: gray;
    padding: 5px;
    border: 18px ;color: blue;

    
}

    

body {
    background: url(https://images6.alphacoders.com/641/641560.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}